<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Robot World!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>
  <body>
    <header>
      <a href="/">Robot World</a>
      <nav>
        <ul>
          <li><a href="/robots">Robots</a></li>
          <li><a href="/robots/new">Add Robot</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <small>2016 &copy; All Rights Reserved</small>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
  </body>
</html>
