<h1>Create a new Robot!</h1>

<form action="/robots" method="post">
  <label for="name">Name:</label><br>
  <input id="name" type="text" name="robot[name]" placeholder="Johnny-5"><br>

  <label for="city">City:</label><br>
  <input id="city" type="text" name="robot[city]" placeholder="Chicago"><br>

  <label for="state">State:</label><br>
  <input id="state" type="text" name="robot[state]" placeholder="Illinois"><br>

  <label for="avatar">Avatar:</label><br>
  <input id="avatar" type="text" name="robot[avatar]" placeholder="Enter random text"><br>

  <label for="birthday">Birthday:</label><br>
  <input id="birthday" type="date" name="robot[birthday]"><br>

  <label for="date-hired">Date Hired:</label><br>
  <input id="date-hired" type="date" name="robot[date_hired]"><br>

  <label for="department">Department:</label><br>
  <input id="department" type="text" name="robot[department]" placeholder="Robotics"><br>

  <input type="submit" value="Create Robot">
</form>
